<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.system.mapper.SysOrgMapper">

	<select id="queryUserOrgs" parameterType="Object" resultType="org.jeecg.modules.system.entity.SysOrg">
	   select * from sys_org
        <if test="_parameter != null">
	   where id IN ( select org_id from sys_user_org where user_id = #{userId} )
       </if>
	</select>

    <!-- 根据username查询所拥有的部门 -->
    <select id="queryOrgsByUsername" parameterType="String" resultType="org.jeecg.modules.system.entity.SysOrg">
        SELECT *
        FROM sys_org
        WHERE id IN (
            SELECT org_id
            FROM sys_user_org
            WHERE user_id = (
                SELECT id
                FROM sys_user
                WHERE username = #{username}
            )
        )
    </select>

</mapper>